body {
    background: rgb(18, 18, 20);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 16px;
}

/* header{} */

.header__container{
    display: flex;
    align-items: center;
    gap: 382px;

}

.header__left{
    display: flex;
    align-items: center;
    gap: 29px;
}

/* .header__logo{} */

.logo__img{
    width: 97px;
    height: 30px;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* .header__item{} */

.header__silka{
    color: rgb(166, 168, 173);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.header__right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.login{
    color: rgb(166, 168, 173);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    background-color: transparent;
}

.out{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 32px;
    background: rgb(255, 255, 255);
    color: rgb(18, 18, 20);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: center;
    width: 95px;
    height: 35px;
}

/* .hero{} */

.hero__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* .hero__top{} */

.hero__silka{
    background: rgb(0, 51, 255);
    display: flex;
    align-items: center;
    gap: 53px;
    padding-left: 278px;
    width: 921px;
    height: 46px;
}

.hero__text{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0;
}

.hero__btn-free{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    border: none;
    background-color: transparent;
}

.hero__bottom{
    display: flex;
    background: url('./imges/hero__img.png');
    width: 1220px;
    height: 744px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero__box{
    position: absolute;
    left: 48px;
    top: 140px;
}

.hero__title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 1.08px;
}

.hero__info{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.hero__btn{
    border-radius: 8px;
    background: rgb(0, 51, 255);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 16px 32px;
    border: 1px solid transparent;
}

.evil{
    margin-top: 96px;
}

.evil__container{
    display: flex;
    align-items: center;
    gap: 220px;
}

.evil__box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.evil__text{
    margin-bottom: 5px;
    color: rgb(166, 168, 173);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
}

.evil__title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 12px;
}

.evil__info{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 18px;
}

.evil__btn{
    border-radius: 8px;
    background: rgb(0, 51, 255);
    border: 1px solid transparent;
    width: 159px;
    height: 36px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.evil__img{
    width: 580px;
    height: 386px;
}